* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    /* outline: 1px solid red; */
}
html {
    display: block;
}

body {
    background-color: rgb(199 226 188 / 87%);
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
    min-width: 230px;
    max-width: 550px;
    margin: auto;
}

h1 {
    width: 100%;
    text-align: center;
    color: black;
    opacity: 45%;
    font-size: 100px;
}

form #markAll{    
    padding: 10px;
    float: left;
    width: 18%;
    height: 50px;
    max-width: 40px;
    cursor: pointer;
} 
form #markAll:checked {
    background-color: green;;
}

form #input[type=text]{
    background-color: #fbfbfb;
    padding: 10px;
    width: 92%;
    height: 50px;
    outline: none;
    font-style: italic;
    border: none;
    font-size: 24px;
}

.todo-list li {
    list-style: none;
    padding: 5px;
    display: grid;
    grid-template-areas: "a b c d e f g h i j k l m n o";
}
.done {grid-area: a;}
.text {grid-area: b c d e f g h i j k l m n;}
.remove {grid-area: o;}

.done {
    width: 30px;
    border: none;
    margin-left: 1px;
    opacity: 5%;
    cursor: pointer;
}
.done:hover {
    opacity: 80%;
}
.remove {
    width: 25px;
    float: right;
    border: none;
    margin-left: 1px;
    opacity: 0%;
    cursor: pointer;
}

.remove:hover {
    opacity: 100%;
}

.frame {
    box-shadow: 1px 1px 4px 0px rgb(121, 120, 120);
    background-color: #fbfbfb;
} 

#filter {
    font-size: 14px;
    visibility: hidden;
}



footer, footer a {
    margin-top: 100px;
    text-align: center;
    color:white;
    text-decoration: none;
}
footer a:hover {
    color:rgb(71, 121, 77);
}
footer img {
    width: 280px;
}